
@media screen and (max-width: 700px){

  section{
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 700px){
  section{
    margin-left: 17%;
    margin-right: 17%;
  }
  #list {
    margin-left: 25%;
    margin-right: 25%;
  }
}
  h1{
    font-size: 120%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 2%;
  }
  .main-nav {
    padding: 0.1em;
    width: 100%;
    text-align: center;
  }
  /*.main-nav ul {
    display: none;
    list-style: none;
    clear: both;
    margin-left: 8%;
  }*/

  a{
    text-decoration-color: gray;
    color: gray;
    text-shadow: none;
  }
  .main-nav:hover ul {
    display: inline-block;
    width: 100%;
  }
  img{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

  .main-nav ul li {
    display: inline;
    padding: 0;
    list-style: none;
    clear: both;
    font-family: 'Oswald', sans-serif;
  }
  header{
    text-align: center;
    padding: 5%;
  }
  header h2{
    margin-top: 5%;
  }
  #head-img{
    display: none;
  }
  ul li a{
    text-decoration: none;
    color: black;
  }
  #homeMini h2{
    display: none;
  }
  #home h2{
    margin-top: 17%;
    font-size: 150px;
  }
  li {
    font-size: 12px;
    margin-left: 1%;
    margin-right: 1%;
  }
  .main-nav li{
    display: inline;
    font-family: 'Oswald', sans-serif;
  }
  footer{
    margin-top: 7%;
    text-align: center;
    font-size: 12px;
  }
  #about-me-pic{
    max-width: 30%;
    float: right;
    margin-left: 3%;
    border-radius: 20px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 5px 5px 2.5px #C9C9C9;
  }
  #about{
    font-family: 'Oswald', sans-serif;
    margin-left: 30%;
    margin-right: 30%;
  }
  .link, .date, .description, .contributors{
    font-family: 'Oswald', sans-serif;
  }
  img{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid black;
    border-radius: 20px;
  }

  .project-pics, .info, .projects{
    padding: 1%;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 75%;
    text-align: left;
  }
  .justifyP{
    text-align: justify;
  }

  .nav-content ul{
    margin-left: auto;
    margin-right: auto;
  }
  .nav-content h2{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
  }

  .skills h2{
    text-align: center;
  }
  #list {
    padding: 3%;
    color:black;
    border-radius: 20px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 5px 5px 2.5px #C9C9C9;
  }
  #list ol li{
    font-size:18px;
    font-family: 'Oswald', sans-serif;
  }
  #list ol li ol li {
    color:gray; height:15px; margin-left:10px;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
  }

  #box-around{
    padding: 5%;
    margin-bottom: 10%;
    border-radius: 20px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 5px 5px 2.5px #C9C9C9;
  }
}
